@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html {
  background-image: linear-gradient(150deg, #7e00cd, #cd4b00);
  background-attachment: fixed;
}
body {
  margin: 5% 0 0 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #000;
}
main {
  background-color: #ffffff;
}
#content {
  padding: 20px 40px;
  margin: auto;
  max-width: 570px;
}
h1, h2 {
  font-weight: normal;
  color: #cd4b00;
}
h1 {
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 30px;
}
h1 #headshot-ct {
  width: 100%;
}
h1 img#headshot {
  height: 120px;
  border-radius: 60px;
}
h1 #title-ct {
  width: 100%;
}
h1 #subtitle {
  font-size: 1.2em;
  color: #000;
}
h2 {
  font-size: 20px;
}
p {
  margin: .8em 0 .8em 0;
}
a {
  color: #28b2ed;
}
.text-l {
  font-size: 1.3em;
  line-height: 0;
}
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
footer {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}
#linkicons {
  margin-bottom: 5px;
}
#linkicons svg {
  fill: #fff;
  height: 1.8em;
  margin: 0 .5em;
}
#linkicons a {
  display: inline-block;
}
small, #details {
  font-size: 0.9em;
}
@media only screen and (min-width: 500px) {
  h1 {
    font-size: 1.6em;
    display: flex;
    align-items: center;
    text-align: left;
  }
  h1 #headshot-ct {
    width: 120px;
    margin-right: 15px
  }
  h1 img#headshot {
    height: 90px;
    border-radius: 45px;
  }
}
